<h1>Cards</h1>
  <% @cards.each do |card| %>
    <div id="main">
      <div id="origin">
        <%= card.original %>
      </div>
        <div id="translated">
          <%= card.translated %>
        </div>
          <div id="review">
            <%= card.review_date %>
          </div>
            <div id="bottom">
            <%= link_to_unless_current("На главную", { action: "index", controller: "home"}) %>
            </div>
              </div>
                <% end %>